#!/bin/bash
# Script that monitors that all new directories in EEE are group writable

BASE_DIR={{epics_monitoring_modules_dir}}

inotifywait -m -e create "${BASE_DIR}" | awk '$2 == "CREATE,ISDIR" {print $3; fflush()}' |
while read directory
do
  path="${BASE_DIR}/${directory}"
  echo "$(date +%Y%m%d-%H:%M) : Setting group write access on ${path}"
  chmod g+w "${path}"
done
